.project-card-container {
  width: 100%;
  height: 100%;
  padding: var(--space-sm);
  background-color: var(--color-secondary);
  cursor: pointer;
  aspect-ratio: 231 / 94;

  &:hover {
    & .header {
      color: var(--color-white);
    }
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--space-sm);
  color: var(--color-primary);
  transition: color var(--transition-quick);

  @media screen and (width <= 1240px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  & > * {
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    &:nth-child(1) {
      grid-column: span 3;
    }

    &:nth-child(2) {
      grid-column: span 2;
      text-wrap: pretty;
    }
  }
}
