.navigation {
  display: grid;
  grid-template-columns: var(--grid);
  gap: var(--space);

  @media screen and (width <= 1240px) {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
  }
}

.brand {
  grid-column: span 2;
  height: unset;
  width: unset;

  @media screen and (width >= 1024px) {
    height: 100%;
    width: 100%;
  }
}

.links {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  text-wrap: nowrap;
  grid-column: span 2;

  @media screen and (width <= 1240px) {
    display: flex;
    justify-content: space-between;
  }

  & li:nth-child(1) {
    grid-row: 1;
    grid-column: span 2;
  }

  & li:nth-child(2) {
    grid-row: 2;
    grid-column: 2 / 4;
  }

  & li:nth-child(3) {
    grid-row: 3;
    grid-column: 4 / 8;
    color: var(--color-secondary);

    &:hover {
      color: var(--color-dnd);
    }

    & .active {
      color: var(--color-dnd);
    }
  }

  & li {
    color: var(--color-secondary);
    width: min-content;
    transition: color var(--transition-quick);

    &:hover {
      color: var(--color-primary);
    }

    .active {
      color: var(--color-primary);
    }
  }
}
