/* stylelint-disable scss/operator-no-newline-after */
@use 'sass:map';
@use 'sass:math';
@import './helpers';
@import './reset.css';
@import './pages';

:root {
  // Typography
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;

  // Colors
  --inspect-color: #f00;
  --color-primary: #fff;
  --color-base: #000;
  --color-s: #00f;
  --color-d: #f00;
  --color-dnd: #0f0;
  --color-black: #000;
  --color-white: #fff;

  // Duration
  --duration-slow: #{$duration * 1.5}s;
  --duration-normal: #{$duration}s;
  --duration-fast: #{math.div($duration, 2)}s;

  // Transitions
  --transition-quick: var(--duration-fast) cubic-bezier(0.25, 1, 0.5, 1);
  --transition-slow: var(--duration) cubic-bezier(0.25, 1, 0.5, 1);

  // Grid
  --grid: repeat(5, minmax(0, 1fr));

  // Space
  --space-max: 50pt;
  --space: 20pt;
  --space-sm: 10pt;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
  background-color: var(--color-base);
  color: var(--color-primary);
  // Font Size
  font-size: 10pt;
  text-transform: uppercase;
}

body {
  background-color: var(--color-base);
  font-family: var(--font-body), var(--font-system);
  transition: opacity var(--transition-quick);
  padding: var(--space) var(--space-max);

  @media screen and (width <= 1240px) {
    padding: var(--space-sm) var(--space);
  }
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

html.no-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
    touch-action: none;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

main {
  margin-block-start: var(--space);
}

button,
.button {
  padding-inline: var(--space-sm);
  padding-block: calc(var(--space-sm) / 2);
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
