.password-modal {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-sm);

    input {
      padding-inline: var(--space-sm);
      padding-block: calc(var(--space-sm) / 2);
      text-align: center;
      background-color: var(--color-primary);
      color: var(--color-black);
    }
  }
}
